* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat, sans-serif;
}

input, button {
    appearance: none;
    background: none;
    border: none;
    outline: none;
}

.App {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: bisque;
}

form {
    display: block;
    position: relative;
}


form .form-inner h2 {
    color: salmon;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
}

form .form-inner .form-group {
    display: block;
    width: 300px;
    margin-bottom: 15px;
}

.form-inner .form-group label {
    display: block;
    color: #888;
    font-size: 12px;
    margin-bottom: 5px;
    transition: 0.4s;
}

.form-inner .form-group:focus-within label {
    color: #FE4880;
}

form .form-inner .form-group input {
    display: block;
    width: 100%;
    padding: 10px 15px;
    background-color: #F8F8F8;
    border-radius: 8px;
    transition: 0.4s;
}

form .form-inner .form-group input:focus {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

form .form-inner input[type="submit"] {
    color: salmon;
    border-radius: 8px;
    border: 2px solid salmon;
    cursor: pointer;
    padding: 5px 20px;
}